{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AppCoder</title>
        <link href={% static "core/css/styles.css" %}/>
    </head>
    <body>

        {% block content_title %}
        {% endblock content_title %}

        {% block content %}
        {% endblock content %}

        {% block buttoms %}
        {% endblock buttoms %}

        {% block content_form %}
        {% endblock content_form %}

        {% block content_search %}
            
        {% endblock content_search %}
    </body>
</html>